@media(max-width:1180px) {

    /* header */
    .index_header {
        padding-inline: 32px;
    }

    .header_nav {
        display: none;
    }

    .burger_menu {
        display: block;
    }


    /* section2 */
    .section2 {
        padding-inline: 32px 0;
    }


    .card_section {
        overflow-x: scroll;
    }

    /* catalog page */


    .catalog_section1 {
        padding-inline: 32px;
    }

    .article_section {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .catalog_article:nth-last-child(-n + 3) {
        display: none;
    }

    /* contact page */

    .contact_section1 {
        padding-inline: 32px;
    }

}