@import url(variables.css);
@import url(animations.css);


.main_tag {
    width: min(100%, 1440px);
    margin: auto;
    position: relative;
    padding-top: 98.4px;
    transition: .5s;
}

.index_header {
    background-color: #012426;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 94px;
    position: fixed;
    max-width: inherit;
    width: inherit;
    height: inherit;
    top: 0;
    z-index: 1;
}

.burger_button {
    background-color: transparent;
    border: none;
}

.burger_menu {
    display: none;
    font-size: 32px;
    cursor: pointer;
    transition: .4s ease-out;
    position: relative;
}

.burger_menu:hover {
    font-size: 40px;
}

.page_ul {
    display: flex;
    column-gap: 72px;
}

.page_links {
    font-family: var(--family);
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #A1C3C9;
    transition: all .2s ease-in;
    /* border: 4px solid green; */
    position: relative;
}

.active {
    text-shadow: 0 0 10px var(--border_color),
        0 0 20px var(--border_color);
}

.page_links::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--border_color);
    position: absolute;
    left: 6px;
    margin-top: 4px;

}

.page_links:hover::after {
    animation: underline .3s 1 forwards;

}

@keyframes underline {
    from {
        width: 0;
    }

    to {
        width: 80%;
    }
}

.page_links:hover {
    color: var(--border_color);
    transform: scale(1.1);

}

.button_section {
    display: flex;
    column-gap: 32px;
}



.header_buttons {
    width: 40px;
    height: 40px;
    border: 2px solid var(--border_color);
    border-radius: 8px;
    background-color: #012426;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s;
    cursor: pointer;
    /* text-align: center; */
}

.header_buttons:hover {
    box-shadow: 0 0 15px#008CFF,
        0 0 15px #008CFF,
        0 0 25px #008CFF;
    transform: scale(1.1);

}

.h_icon {
    color: var(--border_color);
    font-size: 16px;
}

.middle {
    background-color: var(--border_color);
    font-size: 16px;
}

.user {
    font-weight: 100;
    color: #012426;
}

/* section 1 */

.section1 {
    display: flex;
    justify-content: center;
    padding-top: 72px;
    background-image: url(../images/cover.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 560px;
    position: relative;

}

.datalist {
    display: none;
    position: absolute;
    background-color: #C46A2B;
    padding: 16px 56px 16px 16px;
    top: 0;
    left: 0;
}

.datalist a {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #A1C3C9;
}

.section1_link {
    display: flex;
    column-gap: 24px;
}

.section1_link {
    display: flex;
    align-items: center;
    height: 36px;

}

.section1_heading {
    font-family: var(--family);
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0%;
    color: var(--color);

}



.section1_span {
    color: var(--border_color);
}

.section1_button {
    width: 36px;
    /* height: 24px; */
    background-color: #C46A2B;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all .4s;

}


.section1_button:hover {
    transform: translateX(10px);
    box-shadow: 0 0 20px rgba(196, 106, 43, 0.7);
}

.arrow_icon {
    font-size: 24px;
    color: #2C4246;
}

/* section 2 */

.section2 {
    background-color: #1A1A1A;
    padding: 96px 94px;
}

.section2_heading {
    font-family: var(--family);
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    letter-spacing: 0%;
    color: var(--border_color);
    text-align: center;
}

hr {
    border: 1px solid var(--border_color);
    width: 187.27px;
    margin-bottom: 64px;
    transition: .4s;
}


.card_section {
    display: flex;
    column-gap: 20px;
}

.card_article {
    display: flex;
    flex-direction: column;
    flex: 1 0 257px;
    background-color: var(--bg_color);
    padding: 8px 8px 16px;
    row-gap: 16px;
    transition: .4s;
}

.card_article:hover {
    box-shadow: 0 0 8px 4px var(--border_color);

}

.image_div {
    height: 221px;
    overflow: hidden;
}

.card_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s ease-out;
}

.card_image:hover {
    transform: scale(1.3);
    filter: grayscale(100%);
}

/* catalog and index 
page article headings */

.article_heading {
    font-family: var(--family);
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0%;
    color: var(--color);
}

.price_div {
    display: flex;
    justify-content: space-between;
}

.price {
    font-family: var(--family);
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0%;
    color: var(--border_color);
}

.add_button {
    background-color: #C46A2B;
    border: 0;
    border-radius: 4px;
    padding-inline: 16px;
    font-family: var(--family);
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0%;
    color: var(--color);
    transition: .3s;
}

.add_button:hover {
    transform: translateY(-5px);
    box-shadow: 0 7px 3px #282523;
}

/* footer */
.index_footer {
    background-color: var(--bg_color);
    display: flex;
    padding-block: 48px;
    justify-content: center;
    column-gap: 157px;

}


.footer_section {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.footer_heading {
    font-family: var(--family);
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: var(--color);
}

.footer_ul {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

}

.footer_a {
    font-family: var(--family);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: var(--color);
    transition: .3s;
}

.footer_a:hover {
    text-shadow: 0 4px 3px #908989;
}

.social_ul {
    display: flex;
    column-gap: 16px;
}

.social_icon {
    font-size: 32px;
    transition: .3s;
}

.social_icon:hover {
    text-shadow: 0 4px 3px #6f6868;
}


/* catalog page */


.bottom_line {
    border-bottom: 2px solid var(--border_color);
}

.catalog_section1 {

    display: flex;
    flex-direction: column;
    background-color: #012426;
    /* border-top: 2px solid var(--border_color); */
    padding: 96px 94px;
}

.header_div {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.filter_div {
    display: flex;
    align-items: center;
    column-gap: 16px;
    cursor: pointer;
}

.section1_p {
    font-family: var(--family);
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: var(--color);
    text-align: center;
}

.filter_list {
    font-size: 32px;
    font-weight: 900;
    color: var(--color);
}

.sort_div {
    display: flex;
    column-gap: 32px;
}

.list_button {
    background-color: #A1C3C9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    height: 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.best_selling {
    font-family: var(--family);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #2C4246;

}



.article_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 40px 20px;
    margin-block: 64px;
    transition: .5s;
    position: relative;
    background-color: transparent;
    position: relative;
    /* filter: blur(10px); */

}

.catalog_article {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    background-color: var(--bg_color);
    padding-bottom: 16px;
    transition: .5s;

}


.catalog_article:hover {
    box-shadow: 0 0 35px 5px var(--border_color);
    transform: scale(1.01);
}


.catalog_image_div {
    height: 298px;
    overflow: hidden;
    width: 100%;
}

.catalog_image_div img {
    width: 100%;
    object-fit: cover;
    transition: .5s;
}

.catalog_image_div:hover img {
    transform: scale(1.3);
    filter: grayscale(100%);
}

.margins {
    margin-inline: 8px;
}

.buy_button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C46A2B;
    width: 27px;
    height: 27px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
}

.buy_button:hover {
    box-shadow: 0 4px 4px #f0a067;
}

.shopping {
    font-size: 19px;
    color: #FFFFFF;
}

/* scroll section */

.scroll_section {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 48px;
    margin: auto;
}


.scroll_button {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    width: 121px;
    height: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .5s;
}

.scroll_button_text {
    font-family: var(--family);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: var(--color);
}

.color_white {
    color: #D9D9D9;
}

.right:hover {
    box-shadow: 20px 0 5px rgba(5, 188, 202, 0.7),
        40px 0 5px rgba(5, 188, 202, 0.3);

    transform: translateX(10px);

}

.left {
    background-color: #C46A2B;
}

.left:hover {
    box-shadow: -20px 0 5px rgba(196, 106, 43, 0.7),
        -40px 0 5px rgba(196, 106, 43, 0.3);
    transform: translateX(-10px)
}

.pages {
    font-family: var(--family);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: var(--color);
    text-align: center;

}

.right {
    background-color: var(--border_color);
}


/* contact page */

.contact_section1 {
    background-image: url(../images/contact_cover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 720px;
    padding: 140px 201px;
}

.contact_section_div {
    display: flex;
    background-color: #2C4246CC;
    width: 100%;
    border: 1px solid var(--border_color);
    border-radius: 10px;
    column-gap: 40px;
    padding: 32px;
}

.form_section {
    width: 100%;
}

.form_header {
    font-family: var(--family);
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 64px;
}


.contact_form {
    display: flex;
    flex-direction: column;

}

.input_div {
    display: flex;
    justify-content: center;
    column-gap: 60px;
}

.form_input {
    width: 100%;
    height: 40px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background-color: transparent;
    font-family: var(--family);
    color: #FFFFFF;
    padding-left: 8px;
    outline: none;

}

::placeholder {
    font-family: var(--family);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.message_text {
    width: 100%;
    height: 96px;
    resize: none;
    margin-block: 36px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    padding: 8px 0 0 8px;
    font-family: var(--family);
    color: #FFFFFF;
    outline: none;

}

.send_button {
    height: 56px;
    background-color: #C46A2B;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 20px #da884e;
    font-family: var(--family);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #FFFFFF;
    transition: .4s;
    cursor: pointer;
}

.send_button:hover {
    background-color: #A85A24;
    transform: translateY(-5px);
    box-shadow: none;

}

.social_links_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 64px;
    width: 100%;

}


.links_div {
    display: flex;
    column-gap: 72px;
}

.links_div button {
    width: 48px;
    height: 48px;
    background-color: var(--border_color);
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    transition: .4s;
    cursor: pointer;
}

.links_div button:hover {
    transform: translateY(-5px)
}

.call:hover .phone {
    animation: ringing .5s linear 1;
}

@keyframes ringing {
    0% {
        transform: rotate(30deg);
    }

    30% {
        transform: rotate(-15deg);
    }

    60% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

.mail::after {
    display: none;
    content: "\f2b6";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 24px;
    color: #FFFFFF;
}

.mail:hover .envelope {
    display: none;
}

.mail:hover::after {
    display: block;
}

.dot {
    color: #FFFFFF;
    transition: .3s;
}

.location:hover .dot {
    color: #C00000;
}

.links_div i {
    font-size: 24px;
}

.map {
    width: 100%;
    height: 264px;
    border-radius: 10px;
    transition: .4s;
}

.map:hover {
    transform: scale(1.1);
}